<h2 class="page-header">Search Author</h2>
<form action="/authors"  method="GET">
    <div class="form-row">
        <div class="form-item ">
            <label for="name">Name</label>
            <input class="form-item-single"type="text" name="name" value="<%=searchOptions.name%>">

        </div>
    </div>
        
    <div class="form-row form-row-end">
            <button class="btn btn-primary"type="submit">Search</button>

    </div>
    
    
       
    
    
</form>
<br>
<br>
<br>
<br>
<% authors.forEach(author => { %>
    
      <div class="author-name">
        <a href="/authors/<%=author.id%>" ><%=author.name%></a>
      </div>
        
    
  
    
<%})%>
